.congrat-btn {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 45%;
  padding: 5px;
}

.congrat-btn:active {
  background-color: gray;
  color: white;
  border: 1px solid white;
}